<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >


<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>WebServer</servlet-name>
		<display-name>WebServer</display-name>
		<description></description>
		<servlet-class>com.theteam.server.WebServer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServer</servlet-name>
		<display-name>LoginServer</display-name>
		<description>Manage Login requests</description>
		<servlet-class>com.theteam.server.LoginServer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WatsonMonitor</servlet-name>
		<display-name>WatsonMonitor</display-name>
		<description>Monitor Watson Status</description>
		<servlet-class>com.theteam.server.WatsonMonitor</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>WebServer</servlet-name>
		<url-pattern>/WebServer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServer</servlet-name>
		<url-pattern>/LoginServer</url-pattern>
	</servlet-mapping>
</web-app>